<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org"
	th:replace="/normaluserpages/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>title here</title>
</head>
<body>
	<section>


		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">YOUR CONTACTS</h1>

				<table class="table table-bordered table-sm">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${contacts}">

							<td th:text="${c.id}"></td>
							<td><img class="profile-img" alt=""
								th:src="@{'/images/'+${c.imageURL}}" src="#"> <span
								th:text='${c.firstName+"  "+c.secondName}'></span></td>
							<td><a th:href="@{'/contacts/detail/'+${c.id}}"><span
									th:text="${c.email}"></span></a></td>
							<td th:text="${c.phone}"></td>
							<td><a href="#" th:onclick="|deleteContact(${c.id})|"
								class="btn btn-sm btn-danger">DELETE</a></td>

							<td>
								<form  method="post"th:action="@{'/contacts/edit/'+${c.id}}">
									<button class="btn btn-sm btn-success">EDIT</button>
								</form>
							</td>

						</tr>
					</tbody>
				</table>

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentpage!=0}" class="page-item"><a
							th:href="@{'/contacts/list/'+${currentpage-1}}" class="page-link"
							href="#">Previous</a></li>

						<li th:classappend="${currentpage==i-1?'active':''}"
							th:each="i:${#numbers.sequence(1,totalpages)}" class="page-item"><a
							th:href="@{'/contacts/list/'+${i-1}}" class="page-link" href="#"><span
								th:text="${i}"></span></a></li>
						<li th:if="${currentpage+1!=totalpages}" class="page-item"><a
							th:href="@{'/contacts/list/'+${currentpage+1}}" class="page-link"
							href="#">Next</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</section>
</body>
</html>