<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org"
	th:replace="/normaluserpages/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>title here</title>
</head>
<body>
	<section>


		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">YOUR CONTACTS</h1>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${contacts}">

							<td th:text="${c.id}"></td>
							<td th:text='${c.firstName+"  "+c.secondName}'>Mark</td>
							<td th:text="${c.email}"></td>
							<td th:text="${c.phone}"></td>
							<td><button class="btn btn-sm btn-danger">DELETE</button></td>
							<td><button class="btn btn-sm btn-success">DELETE</button></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>