body {
	background-color: gray;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url(../images/background.jpg);
	background-size: cover;
}

.mycard {
	padding: 20px;
	background: #FFFFFF
}

.login-img {
	width: 100px;
	height: 50px;
}

#login .container #login-row #login-column #login-box {
	margin-top: 50px;
	max-width: 600px;
	height: 420px;
	border: 1px solid #9C9C9C;
	background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: -85px;
}

/*sidebar css starts here*/
.sidebar {
	width: 20%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 30px;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2
}

@media only screen and (max-width:600px) {
	.sidebar {
		display: none width:80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important
	}
}

.content {
	margin-left: 20%;
}

.sidebar .sidebarclosebtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 50px;
	cursor: pointer;
}

.profile-img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.profile-img-in-description {
	width: 20%;
	height: 20%;
	border-radius: 100%;
}
thead{
	background-color: maroon;
	color: white;
}